<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <properties>
        <property name="filename">log/ir-labs.log</property>
    </properties>

    <appenders>
        <!--<appender  name="Console">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <!--<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<pattern>%d %p %c{1.} [%t] %m%n</pattern>-->
            <!--</PatternLayout>-->
        <!--</appender>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d %p %c{1.}.%t] %m%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${filename}"
                     filePattern="${filename}-$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>[%d %p %c{1.}.%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <!--<logger name="MainLogger" level="all" additivity="false">-->
            <!--<appender-ref ref="Console"/>-->
            <!--<appender-ref ref="RollingFile"/>-->
        <!--</logger>-->
        <root level="ALL" >
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>